<!DOCTYPE html>
<html ng-app="crmApp">
<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta charset="utf-8">
<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />
<title>CRM Tool Frontend</title>

<!-- CSS Styles -->
<link rel="stylesheet" href="assets/css/crmTool.css">
<link rel="stylesheet" href="assets/bower_components/md-data-table/dist/md-data-table-style.css">


<!-- Bower Components -->
<script src="assets/bower_components/jquery/dist/jquery.min.js"></script>
<script src="assets/bower_components/angular/angular.js"></script>
<script src="assets/bower_components/angular-aria/angular-aria.js"></script>
<script src="assets/bower_components/angular-animate/angular-animate.js"></script>
<script src="assets/bower_components/angular-material/angular-material.js"></script>
<script src="assets/bower_components/angular-messages/angular-messages.js"></script>
<script src="assets/bower_components/angular-route/angular-route.js"></script>
<script src="assets/bower_components/angular-sanitize/angular-sanitize.js"></script>
<script src="assets/bower_components/angular-i18n/angular-locale_de-de.js"></script>
<script src="assets/bower_components/angular-cookies/angular-cookies.min.js"></script>
<script src="assets/bower_components/angular-base64/angular-base64.min.js"></script>
<script src="assets/bower_components/md-data-table/dist/md-data-table.js"></script>
<script src="assets/bower_components/md-data-table/dist/md-data-table-templates.js"></script>
<script src="assets/bower_components/angular-material-icons/angular-material-icons.min.js"></script>
<script src="assets/bower_components/lodash/lodash.min.js"></script>

<!-- App -->
<script src="app/app.js"></script>

<!-- Component Service -->
<script src="app/components/associates/associatesService.js"></script>
<script src="app/components/authentication/authenticationService.js"></script>

<!-- Component Controller -->
<script src="app/components/authentication/authenticationController.js"></script>
<script src="app/components/associates/associatesController.js"></script>
<script src="app/components/calendar/calendarController.js"></script>
<script src="app/components/profile/profileController.js"></script>
<script src="app/shared/sidebar/sidebarController.js"></script>

</head>
<body>


<div ng-controller="SidebarCtrl" layout="column" style="height:100%;" ng-cloak="" class="sidenavdemoBasicUsage">

 <section layout="row" flex="">

    <md-sidenav ng-show="showSidebar" class="md-sidenav-left" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')" md-whiteframe="4">

      <md-toolbar class="md-theme-light">
        <h1 class="md-toolbar-tools">Username</h1>
      </md-toolbar>
      
      <section layout="column" layout-align="center center">
       <md-icon md-svg-icon="assets\img\icons\calendar-with-spring-binder-and-date-blocks.svg"></md-icon> 
	  <md-button  class="group1 left" ng-click="toggleLeft()" href="#/calendar">Kalender</md-button>
	  <md-button class="group1 middle" ng-click="toggleLeft()" href="#/associates">Geschäftspartner</md-button>
	  <md-button class="group1 right" ng-click="toggleLeft()" href="#/profile">Profil</md-button>
	  
	  <md-button class="group1 middle" ng-click="toggleLeft()" href="#/login">Logout</md-button>
	  </section>

    </md-sidenav>

    <md-content flex="" layout-padding="">
    	
    	<md-button ng-show="showSidebar" class="md-icon-button md-primary" aria-label="Settings" ng-click="toggleLeft()" hide-gt-md="">
        <md-icon md-svg-icon="assets/img/icons/reorder-option.svg"></md-icon>
		</md-button>

      <div layout="column" layout-align="top center">
        
        	<div ng-view flex=""></div>

        </div>

      

    </md-content>

</section>

</div>
			

</body>
</html>